# Object file
*.o
# Створено https://www.toptal.com/developers/gitignore/api/windows
# Редагувати на https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Файли кешу ескізів Windows
Thumbs.db
Thumbs.db: зашифрований
ehthumbs.db
ehthumbs_vista.db

# Дамп файлу
* .stackdump

# Файл конфігурації папки
[Dd] esktop.ini

# Кошик, який використовується для спільних файлів
$ RECYCLE.BIN /

# Файли інсталятора Windows
*.таксі
* .msi
* .msix
* .msm
* .msp

# Ярлики Windows
* .lnk

# Кінець https://www.toptal.com/developers/gitignore/api/windows
# Ada Library Information
*.ali
